@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 50px;
  // background-color: rgba(255, 192, 203, 0.5);

  nav {
    ul.btnList {
      display: flex;

      &.on {
        .menuBtn {
          .eq0 {
          }
          .eq1 {
          }
          .eq2 {
          }
        }
      }

      .menuBtn {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 9999;
        width: 30px;
        height: 40px;

        .blackbar {
          position: absolute;
          z-index: 5;
          right: 9px;
          width: 18px;
          height: 2px;
          background-color: #ffffffb0;
          transform-origin: 50% 50%;
          border-radius: 2px;
          transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms;
          margin-right: -9px;
        }

        .ep0 {
          top: 0;
        }
        .ep1 {
          top: 8px;
        }
        .ep2 {
          top: 16px;
          width: 12px;
        }
      }

      .menuWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(3, 3, 3, 0.9);

        .closeBtn {
          position: absolute;
          top: 30px;
          right: 30px;
          width: 30px;
          height: 30px;
        }

        .menuList {
          li {
            a {
              display: inline-block;
              position: relative;
              width: auto;
              z-index: 500;
              font-family: "Noto Serif KR", serif;
              font-size: 1.5vw;
              line-height: 1;
              text-align: left;
              color: #6b7081;
              margin-bottom: 5vh;
              transition: all 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

section {
  article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    width: 100vw;
    height: 100vh;

    &.dark_bg {
      background: linear-gradient(45deg, rgba(70, 69, 137, 0.42) 0%, rgba(56, 44, 102, 0.81) 47%, rgba(24, 19, 54, 1) 100%);
    }

    div {
      &.item {
        position: absolute;
        bottom: 0;
      }
      &.dark {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;
      }
      &.moon_wrap {
        position: relative;
        transform: translateY(-50%);

        .moonBg {
          width: 20vw;
          filter: blur(40px);
        }
        .moon {
          position: absolute;
          width: 8vw;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
    }

    img {
      &.mountainBig {
        position: absolute;
        bottom: 0;
      }
      &.sand {
        position: absolute;
        bottom: 0;
      }
      &.seaNight {
        position: absolute;
        bottom: 0;
      }
      &.shipOnly {
        position: absolute;
        width: 85vw;
        bottom: 0;
        left: 0;

        animation: shipOnly 1s infinite alternate cubic-bezier(0.43, 0.04, 0.53, 0.99);

        @keyframes shipOnly {
          0% {
            transform: translate3d(0, 0, 0);
          }

          100% {
            transform: translate3d(0, 8px, 0);
          }
        }
      }
    }
  }

  &.kv {
    height: 200vh;
    background-color: #a0979f;

    article {
      position: sticky;
      top: 0;

      .kv_txt {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 4vw;
        color: #3d3d3e;
        line-height: 1.5;

        h2 {
          font-family: "MapoFlowerIsland";
          font-size: 45px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        p {
          font-family: "MoonLight";
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
        }
        @media screen and (max-width: 767px) {
          h2 {
            font-size: 36px;
            margin-bottom: 16px;
          }
          p {
            font-size: 14;
          }
        }
      }

      .land {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
      }
      .sun {
        position: absolute;
        z-index: -1;
        bottom: -5%;
        left: 50%;
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: linear-gradient(120deg, rgba(252, 172, 149, 1), rgba(243, 118, 102, 1));
      }

      .waveWrap {
        position: relative;
        height: 100vh;
        width: 100vw;
        bottom: 0%;
        z-index: 0;

        &::after {
          content: "";
          width: 100%;
          height: 27vh;
          background: rgba(211, 141, 141, 1);
          position: absolute;
          left: 0;
          bottom: 0;
        }

        .waves {
          position: absolute;
          left: 0;
          bottom: 27vh;
          width: 100%;
          height: 5vh;
          margin-bottom: -7px;
          min-height: 100px;
          max-height: 150px;

          .parallax > use {
            animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          }

          .parallax > use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 4s;
          }

          .parallax > use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 7s;
          }
        }

        @keyframes move-forever {
          0% {
            transform: translate3d(-90px, 0, 0);
          }

          100% {
            transform: translate3d(85px, 0, 0);
          }
        }
      }

      .ship {
        position: absolute;
        bottom: 5vw;
        left: 50%;
        width: 15vw;
        transform: translate3d(-50%, 0, 0);
        animation: ship 0.8s infinite alternate cubic-bezier(0.43, 0.04, 0.53, 0.99);

        @keyframes ship {
          0% {
            transform: translate3d(-50%, 0, 0);
          }

          100% {
            transform: translate3d(-50%, 10px, 0);
          }
        }
      }
    }
  }

  &.intro {
    position: relative;
    height: 300vh;
    background: linear-gradient(180deg, rgba(214, 141, 141, 1) 0%, rgba(238, 194, 179, 1) 60%, rgba(249, 223, 215, 1) 100%);

    article {
      position: sticky;
      top: 0;

      .intro {
        &_wrap {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          opacity: 0;
        }

        &_img {
          width: 20vw;
          margin-bottom: 5vh;
          @media screen and (max-width: 767px) {
            width: 60vw;
          }
        }
        &_txt {
          max-width: 30vw;
          width: 100%;
          text-align: center;
          font-size: 16px;
          line-height: 1.6;

          @media screen and (max-width: 767px) {
            max-width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  }

  &.skill {
    height: 2000vh;

    .swim {
      position: fixed;
      top: 0;
      left: 0;
      width: 200px;
      height: 100px;
      background: skyblue;
      transform: translate3d(-100%, 200%, 0);
    }

    .skill-view {
      position: sticky;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

    .skill-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 400vw;
      height: 600vh;
      transform: translate3d(0, -500vh, 0);

      .whole_items {
        pointer-events: none;
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 0;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    article {
      &.horizon {
        &.bg {
          background: linear-gradient(180deg, rgba(249, 223, 215, 1) 0%, rgba(247, 217, 212, 1) 100%);
        }

        &01 {
          .leaf {
            position: absolute;
            bottom: 0;
            z-index: 5;
          }
          .root {
            position: absolute;
            bottom: 0;
            z-index: 4;
          }

          .left {
            &.leaf {
              left: -8px;
              bottom: -5px;

              &:nth-child(1) {
                width: 7vw;
              }
              &:nth-child(2) {
                width: 5vw;
              }
              &:nth-child(3) {
                z-index: 6;
                left: 1%;
                width: 7vw;
              }
              &:nth-child(4) {
                left: 4%;
                width: 9vw;
              }
              &:nth-child(5) {
                left: 8%;
                width: 7vw;
              }
            }

            &.root {
              &01 {
                width: 8.5vw;
                left: 0%;
                bottom: 6%;
                animation-duration: 5s;
              }
              &02 {
                width: 9.5vw;
                left: 7%;
                bottom: 0%;
                animation-duration: 5s;
              }
            }
          }

          .right {
            position: absolute;
            bottom: -5px;

            &.leaf {
              &01 {
                z-index: 7;
                left: 55%;
                width: 10vw;
                animation-duration: 2s;
              }
              &02 {
                z-index: 6;
                left: 56%;
                bottom: -8px;
                width: 15vw;
                animation-duration: 4s;
              }
              &03 {
                z-index: 8;
                width: 10vw;
                left: 61.8%;
                animation-duration: 5s;
              }
              &04 {
                z-index: 5;
                width: 11vw;
                left: 64%;
                animation-duration: 2s;
              }
            }

            &.root {
              &01 {
                z-index: 4;
                left: 60%;
                width: 4vw;
                animation-duration: 5s;
              }
              &02 {
                left: 68%;
                width: 4vw;
                animation-duration: 5s;
              }
            }
          }

          .ani {
            &1 {
              animation: leaf 3s linear infinite;
            }
            &2 {
              animation: leaf2 3s linear infinite;
            }
            &3 {
              animation: leaf3 3s linear infinite;
            }

            @keyframes leaf {
              0% {
                transform: rotate(2deg);
                transform-origin: 0% 100%;
              }

              50% {
                transform: rotate(-2deg);
                transform-origin: 0% 100%;
              }

              100% {
                transform: rotate(2deg);
                transform-origin: 0% 100%;
              }
            }

            @keyframes leaf2 {
              0% {
                transform: rotate(1deg);
                transform-origin: 0% 100%;
              }

              50% {
                transform: rotate(3deg);
                transform-origin: 0% 100%;
              }

              100% {
                transform: rotate(1deg);
                transform-origin: 0% 100%;
              }
            }

            @keyframes leaf3 {
              0% {
                transform: rotate(4deg);
                transform-origin: 0% 100%;
              }

              50% {
                transform: rotate(-3deg);
                transform-origin: 0% 100%;
              }

              100% {
                transform: rotate(4deg);
                transform-origin: 0% 100%;
              }
            }
          }

          .fish-wrap {
            .miniFish-wrap {
              position: absolute;
              left: 650px;
              bottom: 700px;
              width: 6.5vw;

              .miniFish {
                width: 5vw;
                height: 3vw;
                animation: fish 1.5s infinite alternate cubic-bezier(0.3, 0.01, 0.65, 0.99);

                @keyframes fish {
                  0% {
                    transform: translate(0, 0);
                  }

                  100% {
                    transform: translate(0, 10px);
                  }
                }
                &01 {
                }

                &02 {
                  margin: -3vw 0px 0px 0px;
                  padding: 0px 0px 0px 1.5vw;
                  animation-delay: 0.3s;
                }
              }
            }

            .hipo-wrap {
              position: absolute;
              left: 900px;
              bottom: 540px;
              display: flex;
              align-items: flex-end;
              width: 6vw;
              height: 5.5vw;

              .hipo {
                animation: hipo 0.7s infinite alternate cubic-bezier(0.3, 0.01, 0.65, 0.99);

                @keyframes hipo {
                  0% {
                    transform: translate(0, 0);
                  }

                  100% {
                    transform: translate(0, 10%);
                  }
                }
                &01 {
                  width: 2.5vw;
                  padding: 0 0 0.2vw 0;
                }

                &02 {
                  width: 1.7vw;
                  animation-delay: 0.4s;
                }

                &03 {
                  width: 1vw;
                  padding: 0 0 0.5vw 0.3vw;
                  animation-delay: 0.3s;
                }
              }
            }
          }

          .dori {
            position: absolute;
            width: 5vw;
            animation: dori 1s infinite alternate cubic-bezier(0.3, 0.01, 0.65, 0.99);

            @keyframes dori {
              0% {
                transform: translate(0, 0);
              }

              100% {
                transform: translate(5px, 10px);
              }
            }
          }

          .nimo-wrap {
            position: absolute;

            .nimo {
              animation: nimo 1s infinite alternate cubic-bezier(0.3, 0.01, 0.65, 0.99);

              @keyframes nimo {
                0% {
                  transform: translate(0, 0);
                }

                100% {
                  transform: translate(-10px, 10px);
                }
              }
              &01 {
                width: 4.5vw;
              }

              &02 {
                width: 2.5vw;
                animation-delay: 0.1s;

                img {
                  margin-top: -30%;
                  margin-left: 100%;
                }
              }
            }
          }
        }

        &02 {
          z-index: 3;

          .text {
            position: absolute;
            left: 0;
            bottom: 25%;

            h2 {
              font-size: 24px;
              font-weight: 200;
              font-family: "Noto Serif KR", serif;
              line-height: 1.5;

              @media screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 18px;
              }
              @media screen and (max-width: 767px) {
                font-size: 12px;
                margin-left: -20px;
              }
            }
          }

          .skill_list {
            position: absolute;
            left: 540px;
            width: 95vw;

            @media screen and (max-width: 767px) {
              width: 104vw;
            }

            ul {
              display: flex;
              justify-content: space-between;

              li {
                position: relative;
                display: flex;
                flex-direction: column;

                &:nth-child(1) {
                }
                &:nth-child(2) {
                  top: 3vw;
                }
                &:nth-child(3) {
                  bottom: 1vw;
                }
                &:nth-child(4) {
                  top: 5vw;
                }
                &:nth-child(5) {
                  top: 5vw;
                }

                .type {
                  font-family: "MoonLight";
                  font-size: 12px;
                  font-weight: 300;
                  color: #555;
                }
                .name {
                  font-family: "MoonLight";
                  font-size: 24px;
                  font-weight: 300;
                  padding: 0.6vw 0;
                }

                .percent {
                  font-family: "MoonLight";
                  font-size: 40px;
                  font-weight: 300;
                  color: #996f98;
                }

                @media screen and (min-width: 768px) and (max-width: 1023px) {
                  .name {
                    font-size: 20px;
                    padding: 0.6vw 0;
                  }

                  .percent {
                    font-size: 32px;
                  }
                }
                @media screen and (max-width: 767px) {
                  .type {
                    font-size: 9px;
                  }
                  .name {
                    font-size: 14px;
                    padding: 0.6vw 0;
                  }

                  .percent {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }

        &03 {
          .cave-wrap {
            .cave {
              position: absolute;
              bottom: 0;
            }
            .caveEyes {
              position: absolute;
              width: 2.3vw;
              animation: eye 3s ease-in-out infinite alternate;
              @keyframes eye {
                0% {
                  opacity: 1;
                }
                50% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
            }
          }

          .leaf-wrap {
            position: absolute;
            z-index: 5;
            right: 0%;
            bottom: 0%;
            width: 19vw;
            height: 12vw;

            .leaf {
              position: absolute;
              bottom: 0;

              &:nth-child(1) {
                z-index: 4;
                right: 125%;
                width: 11vw;
              }
              &:nth-child(2) {
                z-index: 0;
                left: -67%;
                width: 9.5vw;
              }
              &:nth-child(3) {
                z-index: 3;
                left: -70%;
                bottom: -5%;
                width: 17vw;
              }
              &:nth-child(4) {
                z-index: 2;
                left: -50%;
                bottom: -4%;
                width: 15vw;
              }
            }

            .root {
              position: absolute;
              z-index: 1;
              bottom: 16%;
              left: -53%;
              width: 11vw;
            }

            .ani {
              &1 {
                animation: leaf1 2s linear infinite;
              }
              &2 {
                animation: leaf2 5s linear infinite;
              }
              &3 {
                animation: leaf3 4s linear infinite;
              }
              &4 {
                animation: leaf2 2s linear infinite;
              }
              &5 {
                animation: leaf2 2s linear infinite;
              }

              @keyframes leaf1 {
                0% {
                  transform: rotate(1deg);
                  transform-origin: 0% 100%;
                }
                50% {
                  transform: rotate(3deg);
                  transform-origin: 0% 100%;
                }
                100% {
                  transform: rotate(1deg);
                  transform-origin: 0% 100%;
                }
              }

              @keyframes leaf2 {
                0% {
                  transform: rotate(2deg);
                  transform-origin: 0% 100%;
                }
                50% {
                  transform: rotate(-2deg);
                  transform-origin: 0% 100%;
                }
                100% {
                  transform: rotate(2deg);
                  transform-origin: 0% 100%;
                }
              }

              @keyframes leaf3 {
                0% {
                  transform: rotate(4deg);
                  transform-origin: 0% 100%;
                }
                50% {
                  transform: rotate(-3deg);
                  transform-origin: 0% 100%;
                }
                100% {
                  transform: rotate(4deg);
                  transform-origin: 0% 100%;
                }
              }
            }
          }
        }

        &04 {
          .miniFish-wrap {
            position: absolute;
            width: 7vw;

            .miniFish {
              width: 7vw;
              height: 3vw;
              animation: fish 1.5s infinite alternate cubic-bezier(0.3, 0.01, 0.65, 0.99);

              &02 {
                margin: -3vw 0px 0px 0px;
                padding: 0px 0px 0px 1.5vw;
                animation-delay: 0.3s;
              }
            }
          }

          .dori {
            position: absolute;
            width: 6vw;

            animation: dori 1s infinite alternate cubic-bezier(0.3, 0.01, 0.65, 0.99);

            img {
              transform: rotate(12deg);
            }
          }
          .leaf-wrap {
            position: absolute;
            z-index: 5;
            right: 0%;
            bottom: 0%;
            width: 19vw;
            height: 12vw;

            .leaf {
              position: absolute;
              bottom: 0;

              &:nth-child(1) {
                z-index: 2;
                width: 8vw;
              }
              &:nth-child(2) {
                left: 4vw;
                width: 10vw;
              }
              &:nth-child(3) {
                z-index: 2;
                left: 9vw;
                width: 8vw;
              }
              &:nth-child(4) {
                z-index: 1;
                left: 11vw;
                width: 8vw;
              }
              &:nth-child(5) {
                left: 10vw;
                width: 8vw;
              }
            }

            .root {
              position: absolute;
              z-index: -1;
              bottom: 0;

              &01 {
                width: 8vw;
              }

              &02 {
                bottom: 4vw;
                width: 9vw;
                left: 9vw;
              }
            }
          }
        }
      }

      &.reverse {
        &.bg {
          &01 {
            background: linear-gradient(0deg, rgba(249, 223, 214, 1) 0%, rgba(239, 189, 192, 1) 100%);
          }
          &02 {
            z-index: 1;
            background: linear-gradient(0deg, rgba(239, 189, 192, 1) 0%, rgba(216, 174, 188, 1) 100%);

            .cliff {
              right: 0;
            }

            img {
              position: absolute;

              &.cliff {
                width: 15vw;
              }
              &.blowFish {
                width: 6vw;
                bottom: -2vw;
                right: 0;
              }
              &.turtle {
                width: 15vw;
                left: 3vw;
                top: 15vw;
              }
            }

            .about_wrap {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              margin-bottom: 25vw;

              p {
                font-family: "Noto Serif KR", serif;
                font-size: 18px;
                font-weight: lighter;
                color: #625573;
                letter-spacing: 6px;
                transform: rotate(-90deg);
                transform-origin: bottom;

                @media screen and (min-width: 768px) and (max-width: 1023px) {
                  font-size: 18px;
                }
                @media screen and (max-width: 767px) {
                  font-size: 12px;
                  letter-spacing: 2px;
                }
              }

              .text {
                position: absolute;
                display: flex;
                align-items: center;
                transform: rotate(-90deg);
                transform-origin: bottom;
                font-family: "MoonLight";
                font-weight: normal;
                text-transform: uppercase;

                &:before {
                  content: "";
                  display: block;
                  width: 80px;
                  height: 1px;
                  background-color: #fff;
                  margin-right: 20px;
                }

                &01 {
                  bottom: 53vw;
                  left: 0;
                }
                &02 {
                  bottom: 71vw;
                  right: 18vw;
                }
                &03 {
                  bottom: 86vw;
                  left: 18vw;
                }
                &04 {
                  bottom: 100vw;
                  right: 0;
                }
                &05 {
                  bottom: 120vw;
                  left: 21vw;
                }

                dt {
                  font-size: 18px;
                  color: #625573;
                }
                dd {
                  font-size: 12px;
                  color: #fff;
                  margin-top: 5px;
                }

                @media screen and (min-width: 768px) and (max-width: 1023px) {
                  &01 {
                    bottom: 20vw;
                    left: -10vw;
                  }
                  &02 {
                    bottom: 68vw;
                    right: 10vw;
                  }
                  &03 {
                    bottom: 100vw;
                    left: 15vw;
                  }
                  &04 {
                    bottom: 130vw;
                    right: 0;
                  }
                  &05 {
                    bottom: 180vw;
                    left: 21vw;
                  }

                  dt {
                    font-size: 18px;
                  }
                  dd {
                    font-size: 12px;
                  }
                }

                @media screen and (max-width: 767px) {
                  &:before {
                    width: 40px;
                    margin-right: 10px;
                  }

                  &01 {
                    bottom: 20vw;
                    left: -10vw;
                  }
                  &02 {
                    bottom: 130vw;
                    right: -4vw;
                  }
                  &03 {
                    bottom: 170vw;
                    left: 0vw;
                  }
                  &04 {
                    bottom: 220vw;
                    right: -10vw;
                  }
                  &05 {
                    bottom: 280vw;
                    left: 21vw;
                  }

                  dt {
                    font-size: 14px;
                  }
                  dd {
                    font-size: 10px;
                  }
                }
              }
            }
          }
          &03 {
            background: linear-gradient(0deg, rgba(216, 174, 188, 1) 0%, rgba(191, 159, 183, 1) 100%);

            img {
              position: absolute;

              &.cliff {
                width: 15vw;
                top: 0;
                left: 0;
              }

              &.squid {
                width: 6vw;
                right: 12vw;
                bottom: 5vw;
              }
              &.miniOcto {
                width: 10vw;
                left: 13vw;
              }
              &.stingray {
                width: 18vw;
                right: 0;
                top: 5vw;
              }
            }
          }
          &04 {
            background: linear-gradient(0deg, rgba(191, 159, 183, 1) 0%, rgba(131, 120, 172, 1) 100%);

            img {
              position: absolute;

              &.whale {
                width: 25vw;
                left: 0;
                top: 50%;
              }
            }
          }
        }

        h2.title {
          position: absolute;
          bottom: 38vw;
          left: 5vw;
          font-family: "Noto Serif KR";
          font-size: 32px;
          line-height: 1.5;
          // writing-mode: vertical-rl;
          // text-orientation: sideways-right;
          transform: rotate(-90deg);
          transform-origin: bottom;
          color: #694969;

          @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 20px;
          }
          @media screen and (max-width: 767px) {
            font-size: 18px;
          }
        }
      }

      &.night {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  &.project {
    height: 200vh;
    margin-top: -1px;

    article {
      position: sticky;
      top: 0;
      background: linear-gradient(0deg, rgba(172, 127, 127, 1) 0%, rgba(89, 82, 126, 1) 40%, rgba(38, 51, 73, 1) 100%);

      div {
        &.moon_wrap {
          position: relative;
          top: 10vw;
          left: 25vw;

          .moonBg {
            position: static;
            width: 22vw;
            filter: blur(50px);
          }
          .moon {
            position: absolute;
            width: 10vw;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
        }
      }

      img {
        position: absolute;
        bottom: 0;

        &.cloud {
          top: 50%;
          left: 0;
        }

        &.night_depth {
          &1 {
          }
          &2 {
          }
          &3 {
          }
        }
      }

      ul {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4vw;
        padding: 6vw 5vw;
        opacity: 1;
        transition: opacity 0.2s;

        li {
          font-family: "MoonLight";
          font-size: 14px;
          color: rgba(255, 255, 255, 0.5);
          text-transform: uppercase;
          max-width: 240px;

          button {
            &:hover {
              h2 {
                color: #fff;
                transition: color 0.2s;
              }
            }
            h2 {
              font-family: "MoonLight";
              font-size: 26px;
              color: rgba(255, 255, 255, 0.7);
              margin-bottom: 5px;
              text-transform: uppercase;
              text-align: left;
              cursor: pointer;
              transition: color 0.2s;
            }
          }
        }

        @media screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
          gap: 5vw;

          li {
            font-size: 12px;
            button {
              h2 {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  &.contact {
    height: 100vh;
    background: linear-gradient(0deg, rgba(21, 34, 51, 1) 15%, rgba(17, 28, 43, 1) 70%);

    article {
      display: block;
    }

    .desc {
      position: relative;
      z-index: 1;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px 50px 50px;
      text-transform: uppercase;
    }

    div {
      &.moon_wrap {
        position: absolute;
        bottom: 4.5vw;
        left: 42vw;
      }
    }

    img {
      &.ending {
        position: absolute;
        bottom: 0;
      }

      &.insta,
      &.github {
        width: 15px;
        height: 15px;
      }
    }

    h2 {
      font-family: "Noto Serif KR";
      font-size: 32px;
      font-weight: 300;
      color: #fff;
      line-height: 1.5;
      margin-bottom: 60px;

      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }

    ul {
      li {
        &.sns {
          display: flex;
          gap: 20px;
          margin-top: 32px;
        }

        a {
          font-family: "MoonLight";
          font-size: 17px;
          color: #d6fffc;
          text-decoration: none;
          letter-spacing: 1.2px;

          @media screen and (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

body.popupOpen {
  overflow-y: hidden;
  touch-action: none;

  section.project article ul {
    opacity: 0;
    transition: opacity 0.2s;
  }
}
.popup {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transform: translate3d(-50%, -50%, 0);

  &.open {
    display: flex;
  }

  .popup_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .popup_contents {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    max-width: 800px;
    max-height: 800px;
    width: 75vw;
    height: 100%;
    margin: 0 auto;
    padding: 20px;

    &:hover + .popupCloseBtn {
      background-color: #323232;
    }

    .view {
      width: 100%;
      height: 50%;
      margin-top: 20px;
      margin-bottom: 40px;

      video {
        width: 100%;
      }
    }

    .desc_wrap {
      // position: absolute;
      // bottom: 90px;
      height: 50%;

      @media screen and (max-width: 767px) {
        position: static;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;

        li {
          text-transform: uppercase;

          strong {
            font-family: "MoonLight";
            color: #bbb;
            font-size: 13px;
            font-weight: 400;
            display: inline-block;
            margin-bottom: 5px;
          }
          p {
            font-family: "MoonLight";
            color: #8fa0ce;
            font-size: 17px;
          }

          @media screen and (max-width: 767px) {
            gap: 18px;
            li {
              strong {
                font-size: 10px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .popupCloseBtn {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: #323232;
    transition: transform 200ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      display: none;
    }

    &:hover {
      background-color: #e5306c;
    }

    .blackBar {
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 18px;
      height: 2px;
      margin: auto;
      background-color: #fff;
      transform-origin: 50%;
      border-radius: 2px;
      transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1) 0ms;

      &.eq0 {
        transform: rotate(-135deg);
      }
      &.eq1 {
        transform: rotate(-45deg);
      }
    }
  }
}
